body {
  background-color: aquamarine;
}
form {
  text-align: center;
  /* margin: 0 auto; */
  display: block;
  margin: 0 40%;
}
form * {
  margin: 20%;
}

article h1,
p,
ol,
div,
img {
  margin: 0 20%;
}
article li {
  margin: 0;
}

